


.medium-zoom-overlay {
    z-index: 30;
}

.medium-zoom-image {
    z-index: 9999 !important;
}

.group:has([role='button']) .VPSidebarItem.level-0 .items {
    padding-left: 16px !important;
    border-left: 1px solid var(--vp-c-divider);
    border-radius: 2px;
    transition: background-color 0.25s;
}

@font-face {
    font-family: jinkaiFont;
    src: url("../fonts/jinkai.ttf") format("TrueType");
}

:root {
    --vp-font-family-base: "jinkaiFont", "PingFang SC", "Noto Sans SC", "Microsoft YaHei", sans-serif;
}

.content {
    font-size: clamp(16px, 1.2vw + 14px, 18px);
}

