name: 生成每日故事
on:
  #workflow_dispatch:
  schedule:
  - cron: '0 23 * * *'
jobs:
  build:
    runs-on: ubuntu-latest
    env:
      API_KEY: ${{ secrets.MY_API_KEY }}
      API_KEY_DS: ${{ secrets.MY_API_KEY_DS }}
      API_KEY_KIMI: ${{ secrets.MY_API_KEY_KIMI }}
      API_KEY_DOUBAO: ${{ secrets.MY_API_KEY_DOUBAO }}
      API_KEY_QWEN: ${{ secrets.MY_API_KEY_QWEN }}
      API_KEY_MODELSCOPE: ${{ secrets.MY_API_KEY_MODELSCOPE }}
      API_KEY_GEMINI: ${{ secrets.MY_API_KEY_GEMINI }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          cache: 'pip' # caching pip dependencies
      - run: pip install -r requirements.txt
      - uses: szenius/set-timezone@v2.0 # 设置执行环境的时区
        with:
          timezoneLinux: "Asia/Shanghai"
      - name: start
        run: python main.py
      - name: Commit files
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add .
          git commit -a -m "Add story"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
    
